@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
	@apply h-full overflow-auto;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

@font-face {
    font-family: "Quicksand";
    src: url("/fonts/Quicksand.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Uni";
    src: url("/fonts/FontsFree-Net-uni05_53.ttf");
    font-display: swap;
}